body {
    font-family: Calibri;
    font-size: 16px;
    text-align: center;
}
#dogBoneShapeMenu {
    width: 13%;
    float: left;
}
#dogBoneShapeMain_ {
    width: 87%;
    float: right;
}
#dogBoneShapeMain {
    width: 98%;
    float: left;
}
