body {
    font-family: Calibri;
    text-align: center;
}
#dogBoneShapeMenu {
    width: 13%;
    float: left;
}
#dogBoneShapeMain_ {
    width: 85%;
    float: right;
}
#dogBoneShapeMain {
    width: 98%;
    float: left;
}
